.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #ffffff;
  border-color: #ffffff ;
}

.pagination a {
    cursor: pointer;
    color: darkorange;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
